- file_page = !values[:classmod]
- title_in_description = values[:entry].description && values[:entry].description =~ /^\s*<h1>/m

.header
  - title = capture_haml do
    - if file_page
      = values[:file].name
    - else
      = values[:entry].full_name
  - if title_in_description
    .name= title
  - else
    %h1.name= title

#content
  #text
    - if values[:description]
      #description
        .description-content
          ~ sanitize_code_blocks frame_link values[:description]

    = frame_link yield
